{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112382954-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112382954-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A place to share and discover the best coding resources.">
    <meta name="keywords" content="HTML,CSS,coding,JavaScript,python,ruby,resources,java,django,learn,tutorials,best,books,videos,php,swift,flask,node,react,angular,beginners">
    <meta name="author" content="Oliver Small">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="noobhub">
    <meta name="application-name" content="noobhub">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- facebook meta tags -->
    <meta property="og:title" content="noobhub" />
    <meta property="og:description" content="A place to share and discover the best coding resources." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.noobhub.io/" />
    <meta property="og:image" content="{% static "website/noobhub-fb.png" %}" />

    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="noobhub">
    <meta name="twitter:description" content="A place to share and discover the best coding resources.">
    <meta name="twitter:image" content="{% static "website/noobhub-twit.png" %}">

    <title>{% block title %}noobhub{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">

    <!-- Font Awsome -->
    <link href="{% static '/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,800" rel="stylesheet">

  </head>

  <!-- sets the body id to the url name -->
  <body id="{{ request.resolver_match.url_name }}">
    <div id="wrapper">
      <div id="header">
        <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded" style="background-color: #ffffff;">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "website/noobhub_nav.png" %}" style="width:125px" alt="noobhub"/></a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
                  <span class="arrow_down"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">

                  {% if categories %}
                    {% for category in categories %}
                      <a class="dropdown-item" href="{% url 'category' category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                  {% else %}
                    <strong>There are no categories present.</strong>
                  {% endif %}

                </div>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_profile' user.username %}">{{ user.username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/">Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Sign up</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      <div id="content">
        {% block body_block %}{% endblock %}
      </div>
      <div class"container">
        <div id="footer">
          <div class="container">
            <small>© {% now "Y" %} Oliver Small</small><br>
            <a href="mailto:oliver@rotherfields.co.uk"><small>Contact: oliver@rotherfields.co.uk</small></a><br>
            <a href="{% url 'icons' %}"><small>Icons by Flaticon</small></a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- main javascript -->
    <script src="{% static "js/noobhub.js" %}"></script>

    <!-- Ajax -->
    <script src="{% static "js/noobhub-ajax.js" %}"></script>

    <!-- unlimited scroll -->
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 100});</script>

  </body>
</html>
