{% extends 'website/base.html' %}
{% load static %}

{% block title %}
  noobhub - category
{% endblock %}

{% block body_block %}

  {% if category %}
    <div class="top-padding bottom-padding test-this">
      <h1 class="display-4 text-center" style="color:white;">
          {{ category_name }}
      </h1>
    </div>
    <div class="container bottom-padding category-card-top-buffer">
      {% if subcategories %}
        <div class="row">
          {% for subcategory in subcategories %}
            <div class="col-12 container grow">
              <a href="{% url 'subcategory' category.slug subcategory.slug %}"
                 class="category-card">
                <h3 style="color:#F7B141;">{{ subcategory.name }}</h3>
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <strong>No subcategory currently in category.</strong>
      {% endif %}
    </div>
  {% else %}
    <div class="container top-padding bottom-padding">
      <h4 class="text-center">The specified category does not exist!</h4>
    </div>
  {% endif %}



{% endblock %}
