{% extends 'website/base.html' %}

{% load static %}

{% block title %}noobhub{% endblock %}

{% block body_block %}

<div class="container bottom-padding top-buffer">

  <div class="card card-top-buffer card-link-text rec-shadow login-width">

    <div class="card-block">

      <h3 class="card-title">Recommend a website</h3>
      <p></p>

      <p>Please enter the details of the website you would like to recommend.</p>


      <div>
        <form enctype="multipart/form-data" id="WebsiteForm" method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <input class="btn btn-outline-success" type="submit" name="submit" value="Submit" />
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}
