{% extends 'website/base.html' %}
{% load static %}

{% block title %}
  noobhub
{% endblock %}

{% block body_block %}
<div class="container bottom-padding top-padding">
  <h2>Icon attributions<h2><br>
  <div style="font-size:20px">
    <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>Globe</li>
    </ul>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>404 icon</li>
      <li>Computer mouse</li>
      <li>Computer keyboard</li>
      <li>Bin</li>
      <li>Cloud</li>
      <li>Mobile Phone</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dimitry-miroliubov" title="Dimitry Miroliubov">Dimitry Miroliubov</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>medal icon</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>Coffee</li>
      <li>Red bookmark</li>
      <li>Book with bookmark</li>
      <li>Pencil</li>
      <li>Book with strap</li>
      <li>Floppy disk</li>
      <li>USB cable</li>
      <li>Pen</li>
      <li>Video player</li>
      <li>File</li>
      <li>Server</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>Clip Board</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>Computer</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dimi-kazak" title="Dimi Kazak">Dimi Kazak</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p></p>
    <ul>
      <li>Lightbulb</li>
    </ul>
  </div>
</div>
{% endblock %}
