{% extends 'website/base.html' %}
{% load static %}

{% block title %}
  noobhub
{% endblock %}

{% block body_block %}

  <div class="index-title-background">
    <div class="container index-title">
      <div class="top-padding">
        <h1 class="display-3 text-center" style="color:white;">noobhub</h1>
      </div>
      <div class=" container text-center">
        <h2 style="color:white;">A place to share and discover coding resources.</h2>
      </div>
    </div>
  </div>
  <div class="index-info-1 container ">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-12 col-md-4 push-md-4 index-info1-content center">
        <img src="{% static "website/programming.png" %}" style="width:200px" alt="web.img"/>
      </div>
      <div class="col-12 col-md-4 pull-md-4 text-center index-info1-content">
        <h3>Find websites, books and videos others found useful whilst learning to code.<h3>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="index-info-2 container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-12 col-md-4 index-info1-content center">
        <img src="{% static "website/chevron.png" %}" style="width:200px" alt="web.img"/>
      </div>
      <div class="col-12 col-md-4 text-center index-info1-content">
        <h3 style="color:white;">Ranking helps users identify the most useful content.<h3>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="index-info-3 container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-12 col-md-4 push-md-4 index-info1-content center">
        <img src="{% static "website/bookmark.png" %}" style="width:200px" alt="web.img"/>
      </div>
      <div class="col-12 col-md-4 pull-md-4 text-center index-info1-content">
        <h3 style="color:white;">Bookmark your favourite content and view other users bookmark lists.<h3>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div class="container top-padding bottom-padding">
    <div class="row">

      {% if categories %}
        {% for category in categories %}
          <div class="col-12">
            <a href="{% url 'category' category.slug %}">
              <div class="container top-buffer category-card">
                <h2 class="grow category-text">{{ category.name }}</h2>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <strong>There are no categories listed.</strong>
      {% endif %}

    </div>
  </div>

{% endblock %}
