{% extends 'website/base.html' %}

{% load static %}

{% block title %}noobhub{% endblock %}

{% block body_block %}
  <div class="test-this" >
  <div class="container">
    <div class="top-padding">
    <h1 class="display-3 text-center" style="color:white;">noobhub</h1>
    </div>

    <div class=" container top-padding bottom-padding text-center">
    <h4 style="color:white;">The best website for recommended learning resources.</h4>

      <p class="lead" style="color:white;">noobhub lets you learn faster by showing you resources recommended and ranked by other users.</p>

    </div>

  </div>
  <div>
    <img src="{% static "website/programming.jpg" %}"  class="projectcoverimage img-fluid" alt="Responsive image"/>
  </div>



  </div>

  <div class="container top-padding bottom-padding">
    <p class="lead text-center">Get recommended a variety of content from books to tutorial videos on the subject you want to learn. noobhub helps you learn about related content that you may not have known to search for.</p>
  </div>

  <div class="container bottom-padding">


  <div class="card-deck">

  {% if categories %}
    {% for category in categories %}

    <div class="card top-buffer">
      <a href="{% url 'category' category.slug %}">

      {% if category.category_img %}
        <img src="{{ category.category_img.url }}" class="card-img-top img-fluid" alt="Category image"/>
      {% endif %}
      <div class="card-block">
        <h4 class="card-title"> {{category.name}} </h4>
      </div>
      </a>
    </div>

    {% endfor %}

  </div>
</div>

  {% else %}
    <strong>There are no categories listed.</strong>
  {% endif %}
  </div>

{% endblock %}
