{% extends 'website/base.html' %}
{% load static %}

{% block title %}
  noobhub
{% endblock %}

{% block body_block %}

  <div class="index-title-background">
    <div class="container">
      <div class=" container text-center">
        <img src="{% static "website/Noobhub-web_LOGO.png" %}" class="index-logo" alt="noobhub logo"/>
      </div>
      <div class=" container text-center logo-slogan">
        <h5 style="color:white;">A place to share and discover coding resources</h5>
      </div>
    </div>
    <div>
      <img src="{% static "website/Noobhub-web_DESK.png" %}" class="index-desk" alt="desk drawing"/>
    </div>
  </div>

  {% if user.is_authenticated %}

  {% else %}

    <div class="container index-info">
      <div class="row">
        <div class="col-12 col-md-4 index-info-content text-center">
          <img src="{% static "website/Noobhub-web_LEARN.png" %}" alt="web.img"/>
          <h3 class="index-info-title">Learn</h3>
          <h5 class="index-info-text index-info-text-border">Learn to code with websites, books and videos recommended by our community.<h5>
        </div>
        <div class="col-12 col-md-4 index-info-content text-center">
          <img src="{% static "website/Noobhub-web_SHARE.png" %}" alt="web.img"/>
          <h3 class="index-info-title">Share</h3>
          <h5 class="index-info-text index-info-text-border">Share and rank content to help other users to find the best resources.<h5>
        </div>
        <div class="col-12 col-md-4 index-info-content text-center index-info-bookmark">
          <img src="{% static "website/Noobhub-web_BOOKMARK.png" %}" alt="web.img"/>
          <h3 class="index-info-title">Bookmark</h3>
          <h5 class="index-info-text">Save your favourite websites, books and videos or view other users' favourites.<h5>
        </div>
      </div>
    </div>

    <div class="index-sign-up">
      <div class="container text-center">
        <div class="row">
          <div class="col-12 col-md-3">
          </div>
          <div class="col-12 col-md-6">
            <div class="index-sign-up-text">
              <h4>Sign up to share and bookmark resources.</h4>
            </div>
            <a href="{% url 'registration_register' %}" role="button" class="btn btn-primary btn-lg btn-block btn-sign-up-index">Sign up now!</a>
          </div>
          <div class="col-12 col-md-3">
          </div>
        </div>
      </div>
    </div>

  {% endif %}

  <div class="category-list-background">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center index-categories-title">
          <h1>Get started</h1>
          <p></p>
          <h5 style='color:grey;'><small>Select the category you would like to find or share content about.</small></h5>
        </div>
      </div>

      <div class="container bottom-padding">
      <div class="row">

        {% if categories %}
          {% for category in categories %}
            <div class="col-12 col-md-6 col-lg-4">
              <a href="{% url 'category' category.slug %}">
                <div class="category-card container">
                    <div class="col-4 category-image">
                      {% if category.category_img %}
                        <img src="{{ category.category_img.url }}" alt="Language logo"/>
                      {% endif %}
                    </div>
                    <div class="col-8 category-text">
                      <h3>{{ category.name }}</h3>
                    </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <strong>There are no categories listed.</strong>
        {% endif %}

      </div>
    </div>
    </div>
</div>

{% endblock %}
