{% load el_pagination_tags %}
{% load noobhub_filters %}

{% paginate bookmark_list %}

{% for bookmark in bookmark_list %}

  {% if bookmark|classname == 'WebsiteRecommendation' %}
    <div class="card card-top-buffer card-link-text rec-shadow">
      <div class="card-block card-block-bottom-padding">
        <div class="row">

          <div class="col-10">
            <a href="{{ bookmark.url }}" style="color: black;">
              <h4 class="card-title">{{ bookmark.title }}</h4>
            </a>
          </div>

          <div class="col-2">
            <div class="dropdown pull-right">
              <i class="fa fa-ellipsis-h pull-right text-muted dropdown-toggle" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                  {% if bookmark.website_author.pk == user.pk %}
                    <a class="dropdown-item" href="{% url 'delete_website' bookmark.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</a>
                  {% endif %}
                {% endif %}
                <a class="dropdown-item" href="{% url 'report_website_recommendation' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;Report</a>
              </div>
            </div>
          </div>

        </div>

        {% if bookmark.image_url == None %}
          <p class="card-text">{{ bookmark.description }}</p>
        {% else %}
          <div class="text-center">
            <a href="{{ bookmark.url }}">
              <img class="website_img" src="{{ bookmark.image_url }}"/>
           </a>
          </div>
          <p></p>
          <p class="card-text">{{ bookmark.description }}</p>
        {% endif %}

        <p></p>
        <p class="card-text">
          <a href="{% url 'user_profile' bookmark.website_author %}" style="color: black;">
            <small class="text-muted">{{ bookmark.website_author }} · {{ bookmark.created_date|timesince|upto:',' }} ago</small>
          </a>
        </p>
      </div>

      <div class="card-footer text-muted">
        <div class="badge-bottom-padding">
          <a href="{% url 'category' bookmark.category.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.category }}</small></span>
          </a>
          <a href="{% url 'subcategory' bookmark.category.slug bookmark.subcategory.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.subcategory }}</small></span>
          </a>
        </div>
        <div class="website-footer-top-boarder">

          {% if user in bookmark.upvote.all %}
            <i class="fa fa-arrow-up upvote_website clicked-button" data-websiteid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-arrow-up upvote_website" data-websiteid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          <small class="vote_total" data-websiteid="{{ bookmark.id }}">{{ bookmark.total_votes }}&nbsp;</small>

          {% if user in bookmark.downvote.all %}
            <i class="fa fa-arrow-down downvote_website clicked-button" data-websiteid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% else %}
            <i class="fa fa-arrow-down downvote_website" data-websiteid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% endif %}

          {% if user in bookmark.bookmark.all %}
            <i class="fa fa-bookmark-o pull-right bookmark_website clicked-button" data-websiteid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bookmark-o pull-right bookmark_website" data-websiteid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          {% if bookmark.comments.count > 0 %}
            <small class="pull-right">{{ bookmark.comments.count }}&nbsp;</small>
          {% endif %}

          <a href="{% url 'website_comment' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}" class="text-muted">
           <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
          </a>

        </div>
      </div>
    </div>

  {% elif bookmark|classname == 'BookRecommendation' %}
    <div class="card card-top-buffer card-link-text rec-shadow">
      <div class="card-block card-block-bottom-padding">
        <div class="row card-title">

          <div class="col-10">
            <a href="{{ bookmark.book_url }}" style="color: black;">
              <h4 class="card-title">{{ bookmark.title }}</h4>
            </a>
          </div>

          <div class="col-2">
            <div class="dropdown pull-right">
              <i class="fa fa-ellipsis-h pull-right text-muted dropdown-toggle" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                  {% if bookmark.recommended_by.pk == user.pk %}
                    <a class="dropdown-item" href="{% url 'delete_book' bookmark.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</a>
                  {% endif %}
                {% endif %}
                <a class="dropdown-item" href="{% url 'report_book_recommendation' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;Report</a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-5 col-md-3 text-center">
            <a href="{{ bookmark.book_url }}">
              <img src="{{ bookmark.book_image_url }}" width = 100% height = "auto"  />
            </a>
          </div>

          <div class="col-7 col-md-9">
            <p class="card-text"><small><strong>Author:</strong> {{ bookmark.book_author }}</small></p>
            <p class="card-text"><small><strong>Published:</strong> {{ bookmark.book_publish_date }}</small></p>
            <p class="card-text">
              <a href="{% url 'user_profile' bookmark.recommended_by %}" style="color: black;">
                <small class="text-muted">{{ bookmark.recommended_by }} · {{ bookmark.created_date|timesince|upto:',' }} ago</small>
              </a>
            </p>
            <p>
              <button class="btn btn-outline-info btn-sm SeeMore description-button" type="button" data-toggle="collapse" data-target="#bookmarker{{ bookmark.id }}" aria-expanded="false" aria-controls="bookmarker{{ bookmark.id }}">
                View description <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
            </p>
          </div>
        </div>

        <div class="card-text collapse" id="bookmarker{{ bookmark.id }}">
          <p></p>
          {{ bookmark.book_description|safe }}
        </div>

      </div>

      <div class="card-footer text-muted">
        <div class="badge-bottom-padding">
          <a href="{% url 'category' bookmark.category.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.category }}</small></span>
          </a>
          <a href="{% url 'subcategory' bookmark.category.slug bookmark.subcategory.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.subcategory }}</small></span>
          </a>
        </div>
        <div class="book-footer-top-boarder">

          {% if user in bookmark.upvote.all %}
            <i class="fa fa-arrow-up upvote_book clicked-button" data-bookid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-arrow-up upvote_book" data-bookid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          <small class="vote_total" data-bookid="{{ bookmark.id }}">{{ bookmark.total_votes }}&nbsp;</small>

          {% if user in bookmark.downvote.all %}
            <i class="fa fa-arrow-down downvote_book clicked-button" data-bookid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% else %}
            <i class="fa fa-arrow-down downvote_book" data-bookid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% endif %}

          {% if user in bookmark.bookmark.all %}
            <i class="fa fa-bookmark-o pull-right bookmark_book clicked-button" data-bookid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bookmark-o pull-right bookmark_book" data-bookid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          {% if bookmark.book_comments.count > 0 %}
            <small class="pull-right">{{ bookmark.book_comments.count }}&nbsp;</small>
          {% endif %}

          <a href="{% url 'book_comment' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}" class="text-muted">
            <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
          </a>

        </div>
      </div>
    </div>

  {% elif bookmark|classname == 'VideoRecommendation' %}
    <div class="card card-top-buffer card-link-text rec-shadow">
      <div class="card-block card-block-bottom-padding">
        <div class="row">

          <div class="col-10">
            <a href="{{ bookmark.video_url }}" style="color: black;">
              <h4 class="card-title">{{ bookmark.title }}</h4>
            </a>
          </div>

          <div class="col-2">
            <div class="dropdown pull-right">
              <i class="fa fa-ellipsis-h pull-right text-muted dropdown-toggle" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                  {% if bookmark.recommended_by.pk == user.pk %}
                    <a class="dropdown-item" href="{% url 'delete_video' bookmark.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</a>
                  {% endif %}
                {% endif %}
                <a class="dropdown-item" href="{% url 'report_video_recommendation' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;Report</a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-md-5 text-center youtube_image_div">
            <a href="{{ bookmark.video_url }}">
              <img class="img-fluid youtube_image" src="{{ bookmark.video_image_url }}"/>
            </a>
          </div>

          <div class="col-12 col-md-7">
            <p class="card-text video_info_top_margin"><small><strong>Published:</strong> {{ bookmark.video_publish_date|date }}</small></p>
            <p class="card-text">
              <a href="{% url 'user_profile' bookmark.recommended_by %}" style="color: black;">
                <small class="text-muted">{{ bookmark.recommended_by }} · {{ bookmark.created_date|timesince|upto:',' }} ago</small>
              </a>
            </p>
            <button class="btn btn-outline-info btn-sm SeeMore description-button" type="button" data-toggle="collapse" data-target="#bookmarkers{{ bookmark.id }}" aria-expanded="false" aria-controls="bookmarkers{{ bookmark.id }}">
              View description&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
          </div>

        </div>
        <div class="card-text collapse" id="bookmarkers{{ bookmark.id }}">
          <p></p>
          {{ bookmark.video_description| linebreaks }}
        </div>
      </div>

      <div class="card-footer text-muted">
        <div class="badge-bottom-padding">
          <a href="{% url 'category' bookmark.category.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.category }}</small></span>
          </a>
          <a href="{% url 'subcategory' bookmark.category.slug bookmark.subcategory.slug %}">
            <span class="badge badge-pill badge-info"><small>{{ bookmark.subcategory }}</small></span>
          </a>
        </div>
        <div class="video-footer-top-boarder">

          {% if user in bookmark.upvote.all %}
            <i class="fa fa-arrow-up upvote_video clicked-button" data-videoid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-arrow-up upvote_video" data-videoid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          <small class="vote_total" data-videoid="{{ bookmark.id }}">{{ bookmark.total_votes }}&nbsp;</small>

          {% if user in bookmark.downvote.all %}
            <i class="fa fa-arrow-down downvote_video clicked-button" data-videoid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% else %}
            <i class="fa fa-arrow-down downvote_video" data-videoid="{{ bookmark.id }}" aria-hidden="true">&nbsp;</i>
          {% endif %}

          {% if user in bookmark.bookmark.all %}
            <i class="fa fa-bookmark-o pull-right bookmark_video clicked-button" data-videoid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bookmark-o pull-right bookmark_video" data-videoid="{{ bookmark.id }}" aria-hidden="true"></i>
          {% endif %}

          {% if bookmark.video_comments.count > 0 %}
            <small class="pull-right">{{ bookmark.video_comments.count }}&nbsp;</small>
          {% endif %}

          <a href="{% url 'video_comment' bookmark.category.slug bookmark.subcategory.slug bookmark.pk %}" class="text-muted">
            <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
          </a>

        </div>
      </div>
    </div>
  {% endif %}

{% endfor %}

{% show_more %}
