{% extends 'website/base.html' %}

{% load static %}

{% block title %}noobhub{% endblock %}

{% block body_block %}

<div class="top-padding bottom-padding test-this">

  <h1 class="display-4 text-center" style="color:white;">{{ profile_user }}</h1>

</div>

<div class="container">

  {% if website_recommendations %}

    {% for website in website_recommendations %}

    <div class="card card-top-buffer card-link-text rec-shadow">

      <div class="card-block">
        <a href="{{ website.url }}" style="color: black;">
        <h4 class="card-title">{{ website.title }}</h4>
        </a>
        <p class="card-text">{{ website.description }}</p>
        <p></p>
          {% if user.is_authenticated %}
          {% if website.website_author.pk == user.pk %}
            <a class="btn btn-outline-danger btn-sm pull-right" href="{% url 'delete_website' website.pk %}">Delete</a>
          {% endif %}
          {% endif %}
        </p>
      </div>

      <div class="card-footer text-muted">
        <i class="fa fa-arrow-up" aria-hidden="true">&nbsp;</i>
        <i class="fa fa-arrow-down" aria-hidden="true">&nbsp;</i>
        <a href="{% url 'category' website.category.slug %}">
        <span class="badge badge-pill badge-info">{{ website.category }}</span>
        </a>
        <a href="{% url 'subcategory' website.category.slug website.subcategory.slug %}">
        <span class="badge badge-pill badge-info">{{ website.subcategory }}</span>
        </a>
        <i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i>
        <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>

      </div>

    </div>


    {% endfor %}

  {% else %}
    <strong>No recomendations have been made yet.</strong>
  {% endif %}

  <h4>Bookmarks</h4>

  {% if website_bookmarks %}

    {% for website in website_bookmarks %}

    <div class="card card-top-buffer card-link-text rec-shadow">

      <div class="card-block">
        <a href="{{ website.url }}" style="color: black;">
        <h4 class="card-title">{{ website.title }}</h4>
        </a>
        <p class="card-text">{{ website.description }}</p>
        <p></p>
          {% if user.is_authenticated %}
          {% if website.website_author.pk == user.pk %}
            <a class="btn btn-outline-danger btn-sm pull-right" href="{% url 'delete_website' website.pk %}">Delete</a>
          {% endif %}
          {% endif %}
        </p>
      </div>

      <div class="card-footer text-muted">
        <i class="fa fa-arrow-up" aria-hidden="true">&nbsp;</i>
        <i class="fa fa-arrow-down" aria-hidden="true">&nbsp;</i>
        <a href="{% url 'category' website.category.slug %}">
        <span class="badge badge-pill badge-info">{{ website.category }}</span>
        </a>
        <a href="{% url 'subcategory' website.category.slug website.subcategory.slug %}">
        <span class="badge badge-pill badge-info">{{ website.subcategory }}</span>
        </a>
        <i class="fa fa-bookmark-o pull-right" aria-hidden="true"></i>
        <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>

      </div>

    </div>

    {% endfor %}

  {% else %}
    <strong>No bookmarks have been made yet.</strong>
  {% endif %}

</div>

{% endblock %}
