{% load el_pagination_tags %}
{% load noobhub_filters %}

{% paginate books using 'other_entries_page' %}

{% for book in books %}
  <div class="card card-top-buffer card-link-text rec-shadow">
    <div class="card-block">
      <div class="row">

        <div class="col-10">
          <a href="{{ book.book_url }}" style="color: black;">
            <h4 class="card-title" >{{ book.title }}</h4>
          </a>
        </div>

        <div class="col-2">
          <div class="dropdown pull-right">
            <i class="fa fa-ellipsis-h pull-right text-muted dropdown-toggle" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              {% if user.is_authenticated %}
                {% if book.recommended_by.pk == user.pk %}
                  <a class="dropdown-item" href="{% url 'delete_book' book.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</a>
                {% endif %}
              {% endif %}
              <a class="dropdown-item" href="{% url 'report_book_recommendation' category.slug subcategory.slug book.pk %}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;Report</a>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-5 col-md-3 text-center">
          <a href="{{ book.book_url }}">
            <img src="{{ book.book_image_url }}" width = 100% height = "auto"  />
          </a>
        </div>
        <div class="col-7 col-md-9">
          <p class="card-text"><small><strong>Author:</strong> {{ book.book_author }}</small></p>
          <p class="card-text"><small><strong>Published:</strong> {{ book.book_publish_date }}</small></p>
          <p class="card-text">
            <a href="{% url 'user_profile' book.recommended_by %}" style="color: black;">
              <small class="text-muted">{{ book.recommended_by }} · {{ book.created_date|timesince|upto:',' }} ago</small>
            </a>
          </p>
          <p>
            <button class="btn btn-outline-info btn-sm SeeMore description-button" type="button" data-toggle="collapse" data-target="#book_desc{{ book.id }}" aria-expanded="false" aria-controls="book_desc{{ book.id }}">
              View description&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
          </p>
        </div>
      </div>
      <div class="card-text collapse" id="book_desc{{ book.id }}">
        <p></p>
        {{ book.book_description|safe }}
      </div>
    </div>

    <div class="card-footer text-muted">
      <div class="book-footer-top-boarder">

        {% if user in book.upvote.all %}
          <i class="fa fa-arrow-up upvote_book clicked-button" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-arrow-up upvote_book" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% endif %}

        <small class="vote_total" data-bookid="{{ book.id }}">{{ book.total_votes }}&nbsp;</small>

        {% if user in book.downvote.all %}
          <i class="fa fa-arrow-down downvote_book clicked-button" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-arrow-down downvote_book" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% endif %}

        {% if user in book.bookmark.all %}
          <i class="fa fa-bookmark-o pull-right bookmark_book clicked-button" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-bookmark-o pull-right bookmark_book" data-bookid="{{ book.id }}" aria-hidden="true"></i>
        {% endif %}

        {% if book.book_comments.count > 0 %}
          <small class="pull-right">{{ book.book_comments.count }}&nbsp;</small>
        {% endif %}

        <a href="{% url 'book_comment' category.slug subcategory.slug book.pk %}" class="text-muted">
          <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
        </a>

      </div>
    </div>
  </div>

{% endfor %}
{% show_more %}
