{% load el_pagination_tags %}
{% load noobhub_filters %}

{% paginate videos using 'other_entries_page2' %}

{% for video in videos %}

    <div class="card card-top-buffer card-link-text rec-shadow">

      <div class="card-block">

        <div class="row">
          <div class="col-10">
            <a href="{{ video.video_url }}" style="color: black;">
            <h4 class="card-title">{{ video.title }}</h4>
            </a>
          </div>
          <div class="col-2">
          <div class="dropdown pull-right"
          <small><i class="fa fa-ellipsis-h pull-right text-muted dropdown-toggle" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i></small>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            {% if user.is_authenticated %}
            {% if video.recommended_by.pk == user.pk %}
              <a class="dropdown-item" href="{% url 'delete_video' video.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</a>
            {% endif %}
            {% endif %}
          <a class="dropdown-item" href="{% url 'report_video_recommendation' category.slug subcategory.slug video.pk %}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;Report</a>
          </div>
          </div>
        </div>
        </div>

        <div class="row">
        <div class="col-6 col-md-4 text-center">

        <a href="{{ video.video_url }}">
        <img class="img-fluid" src="{{ video.video_image_url }}"/>
        </a>
        </div>

        <div class"col-6 col-md-8">

        <p class="card-text"><small><strong>Published:</strong> {{ video.video_publish_date|date }}</small></p>

        <p class="card-text">
          <a href="{% url 'user_profile' video.recommended_by %}" style="color: black;">
            <small class="text-muted">{{ video.recommended_by }} · {{ video.created_date|timesince|upto:',' }} ago</small>
          </a>
        </p>


          <button class="btn btn-outline-info btn-sm SeeMore description-button" type="button" data-toggle="collapse" data-target="#video_desc{{ video.id }}" aria-expanded="false" aria-controls="video_desc{{ video.id }}">
          View description&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>

        </div>
      </div>



        <div class="card-text collapse" id="video_desc{{ video.id }}">
        <p></p>
        {{ video.video_description| linebreaks }}
        </div>

      </div>

      <div class="card-footer text-muted">

        <div class="video-footer-top-boarder">

        {% if user in video.upvote.all %}
          <i class="fa fa-arrow-up upvote_video clicked-button" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-arrow-up upvote_video" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% endif %}

        <small class="vote_total" data-videoid="{{ video.id }}">{{ video.total_votes }}&nbsp;</small>

        {% if user in video.downvote.all %}
        <i class="fa fa-arrow-down downvote_video clicked-button" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-arrow-down downvote_video" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% endif %}

        {% if user in video.bookmark.all %}
        <i class="fa fa-bookmark-o pull-right bookmark_video clicked-button" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-bookmark-o pull-right bookmark_video" data-videoid="{{ video.id }}" aria-hidden="true"></i>
        {% endif %}

        {% if video.video_comments.count > 0 %}
          <small class="pull-right">{{ video.video_comments.count }}&nbsp;</small>
        {% endif %}

        <a href="{% url 'video_comment' category.slug subcategory.slug video.pk %}" class="text-muted">
          <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
        </a>

        </div>

      </div>



    </div>


{% endfor %}
{% show_more %}
