{% extends 'website/base.html' %}

{% load static %}

{% load noobhub_filters %}

{% block title %}noobhub - category {% endblock %}

{% block body_block %}

<div class="top-padding bottom-padding test-this">

  {% if subcategory %}

  <h1 class="display-4 text-center" style="color:white;">{{ subcategory_name }}</h1>

</div>

<div class="container">

  <p></p>

  <!-- Nav tabs -->
  <ul class="nav justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" style="color: black;" data-toggle="tab" href="#websites" role="tab"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black;" data-toggle="tab" href="#books" role="tab"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black;" data-toggle="tab" href="#videos" role="tab"><i class="fa fa-film fa-2x" aria-hidden="true"></i></a>
    </li>
  </ul>

<!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="websites" role="tabpanel">

      <p><a class="btn btn-outline-info btn-sm" href="{% url 'create_website' category.slug subcategory.slug %}">New website</a></p>



      {% if websites %}

        <div class="bottom-padding">

        {% for website in websites %}

            <div class="card card-top-buffer card-link-text rec-shadow">

              <div class="card-block">
                <a href="{{ website.url }}" style="color: black;">
                <h4 class="card-title">{{ website.title }}</h4>
                </a>
                <p class="card-text">{{ website.description }}</p>
                <p></p>
                <p class="card-text">
                  <a href="{% url 'user_profile' website.website_author %}" style="color: black;">
                    <small class="text-muted">{{ website.website_author }} - {{ website.created_date|timesince|upto:',' }} ago</small>
                  </a>
                  {% if user.is_authenticated %}
                  {% if website.website_author.pk == user.pk %}
                    <a class="btn btn-outline-danger btn-sm pull-right" href="{% url 'delete_website' website.pk %}">Delete</a>
                  {% endif %}
                  {% endif %}

                </p>
              </div>

              <div class="card-footer text-muted">
                {% if user in website.upvote.all %}
                  <i class="fa fa-arrow-up upvote_website clicked-button" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-arrow-up upvote_website" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% endif %}

                <small class="vote_total" data-websiteid="{{ website.id }}">{{ website.total_votes }}&nbsp;</small>

                {% if user in website.downvote.all %}
                <i class="fa fa-arrow-down downvote_website clicked-button" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-arrow-down downvote_website" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% endif %}

                {% if user in website.bookmark.all %}
                <i class="fa fa-bookmark-o pull-right bookmark_website clicked-button" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-bookmark-o pull-right bookmark_website" data-websiteid="{{ website.id }}" aria-hidden="true"></i>
                {% endif %}

                {% if website.comments.count > 0 %}
                  <small class="pull-right">{{ website.comments.count }}&nbsp;</small>
                {% endif %}

                <a href="{% url 'website_comment' category.slug subcategory.slug website.pk %}" class="text-muted">
                  <i class="fa fa-commenting-o pull-right" aria-hidden="true">&nbsp;</i>
                </a>



              </div>

            </div>


        {% endfor %}

        </div>

      {% else %}
        <strong>No websites have been recommended yet. Why not recommend one now!</strong>
      {% endif %}






    </div>
    <div class="tab-pane" id="books" role="tabpanel">

      <p>Suggested books</p>

      <p><a class="btn btn-outline-info btn-sm" href="{% url 'create_book' category.slug subcategory.slug %}">New Book</a></p>

      {% if books %}

        <div class="bottom-padding">

        {% for book in books %}

            <div class="card card-top-buffer card-link-text rec-shadow">

              <div class="card-block">
                <a href="{{ book.book_url }}" style="color: black;">

                <h4 class="card-title">{{ book.title }}</h4>

                </a>

                <p></p>

                <div class="row">
                <div class="col-sm-4 ">

                <img src="{{ book.book_image_url }}" width = "auto" height = 200px  />
                </div>
                <div class="col-sm-8">

                <p></p>
                <p class="card-text">Author: {{ book.book_author }}</p>
                <p></p>

                <p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ book.id }}" aria-expanded="false" aria-controls="{{ book.id }}">
                  Read description
                  </button>
                </p>
                </div>
                </div>

                <div class="card-text collapse" id="{{ book.id }}">
                <p></p>
                {{ book.book_description|safe }}
                </div>

                <p></p>
                <p class="card-text">
                  <a href="{% url 'user_profile' book.recommended_by %}" style="color: black;">
                    <small class="text-muted">{{ book.recommended_by }} - {{ book.created_date|timesince|upto:',' }} ago</small>
                  </a>
                </p>
              </div>



            </div>


        {% endfor %}

        </div>

      {% else %}
        <strong>No books have been recommended yet. Why not recommend one now!</strong>
      {% endif %}


    </div>

    <div class="tab-pane" id="videos" role="tabpanel">

      <p>Suggested videos</p>
    </div>

  </div>

  {% else %}
    The specified category {{ subcategory_name }} does not exist!
  {% endif %}

</div>

{% endblock %}
