{% extends "website/base.html" %}

{% block body_block %}




<div class="container bottom-padding top-padding">

  <div class="card card-top-buffer card-link-text rec-shadow login-width">

    <div class="card-block">

      <h3 class="card-title">Login</h3>
      <p></p>

      {% if form.errors %}
      <p style="color:red;">Please check your username and password and try again.</p>
      {% endif %}


      <form role="form" method="post" action=".">
        {% csrf_token %}

        <label for="inputUsername" class="sr-only">Username</label>
        <p><input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required autofocus></p>

        <label for="inputPassword" class="sr-only">Password</label>
        <p><input type="password" id="id_password" class="form-control" name="password" placeholder="Password" required></p>

        <button class="btn btn-success btn-block" type="submit" value="Submit" />Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />

        <p></p>

        <p><small><a href="{% url 'registration_register' %}">Sign up here!</a></small>
        <small class="pull-right"><a href="{% url 'auth_password_reset' %}">Forgotten your password?</a></small></p>
      </form>

      </div>
    </div>
  </div>
{% endblock %}
