{% extends "website/base.html" %}

{% block body_block %}

<div class="container bottom-padding top-padding">

  <div class="card card-top-buffer card-link-text rec-shadow login-width">

    <div class="card-block">

      <h3 class="card-title">Change your password</h3>
      <p></p>

      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input class="btn btn-success pull-right" type="submit" value="Submit" />
      </form>

    </div>
  </div>
</div>

{% endblock %}
