{% extends "website/base.html" %}

{% block body_block %}

<div class="container bottom-padding top-padding">

  <div class="card card-top-buffer card-link-text rec-shadow login-width">

    <div class="card-block">

      <h3 class="card-title">Password reset sent</h3>
      <p></p>
      We have emailed you instructions for resetting your password.
      <p>If you do not recieve an email, please make sure you have entered the address that you registered with and check your spam folder.</p>



    </div>
  </div>
</div>

{% endblock %}
