{% extends "website/base.html" %}


{% block body_block %}

<div class="container bottom-padding top-buffer">

  <div class="card card-top-buffer card-link-text rec-shadow login-width">

    <div class="card-block">


      <h3 class="card-title">Sign up</h3>
      <p></p>
      <form role="form"  method="post" action=".">
        {% csrf_token %}
        <div class="form-group" >

          {{ form.non_field_errors }}

              <label for="{{ form.username.id_for_label }}">Username:</label>
              {{ form.username.errors }}
              {{ form.username }}
              <p></p>

              <label for="{{ form.email.id_for_label }}">E-mail:</label>
              {{ form.email.errors }}
              {{ form.email }}
              <p></p>

              <label for="{{ form.password1.id_for_label }}">Password:</label>
              {{ form.password1.errors }}
              {{ form.password1 }}
              <p></p>

              <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
              {{ form.password2.errors }}
              {{ form.password2 }}
              <p></p>

      </div>
        <button type="submit" class="btn btn-outline-success pull-right">Submit</button>
      </form>
      </div>
      </div>
      </div>

{% endblock %}
