
body {
  font-family: 'Roboto', sans-serif;
}

.test-this {background-color: #00d1b2; }

.top-buffer { margin-top:20px; }

.card-top-buffer { margin-top:15px; }

.top-padding { padding-top: 45px; }

.bottom-padding { padding-bottom: 45px; }

.projectcoverimage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

img.category-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rec-shadow {
  -webkit-box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
  -moz-box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
  box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
}

/* button zoom on hover over */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.03); }

a, a:link, a:hover {
  text-decoration: none;
 }

.card-footer {
  padding: 0rem 1.25rem;
  background-color: #fff;
  border-top: 0px solid #37abf2;
}

.card {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
  margin-top:20px;
  border: 0px;

}

i:hover {
 cursor:pointer;
}

.clicked-button {
  color: #FFA7D0;
}

.comment-textbox {
  width: 100%;
  margin: auto;
  margin-top:10px;
}

/* remove arrow to drop downs */
.dropdown-toggle::after {
    display:none
}

.login-width {
  max-width: 500px;
}

.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  background-color: #fafafa;
}

.nav-tabs > li > a {
  color: white;
}

.card-title {
  font-weight: 900;
}

.book-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid 	#31c1fa;
}

.video-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid #f45494;
}

.website-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid #F7B141;
}

.category-card-top-buffer { margin-top:15px; }

.category-card {
  max-width: 500px;
  height: auto;
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  margin: auto;
  padding-top: 10px;
}

@media (min-width: 768px) {
    .category-card {
      justify-content: center; /* align horizontal */
    }
}

.index-category-button {
  border: 0;
  border-radius: 10px;
  max-width: 400px;
  height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin: auto;
  margin-top: 15px;
  background-color: white;

}


/* style for form errors */
.errorlist {
  list-style-type: none;
  padding: 0;
  color: red;

}

/* customise select list for date filter */
.custom-select {
  -webkit-appearance: none;
  background: #fff url("../website/arrow.png") no-repeat right 0.5rem center;
  background-size: 10%;

}

/* loading sign container for endless scroll pagination */
.endless_container{
  text-align: center;
  margin-top:20px;
}

.website_img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  max-height: 200px;
}

/* sm */
@media (min-width: 768px) {
    .website_img {
        max-height: 300px;
    }
}
/* md */
@media (min-width: 992px) {
    .website_img {
        max-height: 250px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .website_img {
        max-height: 250px;

    }
}

.youtube_image_div {
  overflow: hidden;
}


@media (max-width: 767px) {
    .video_info_padding {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .video_info_top_margin {
        margin-top: 10px;
    }
}

.youtube_image {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  margin: -10% 0;
}

/* remove standard border from bootstrap mobile nav */
.navbar-toggler {
  border: none;
}

.arrow_down {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 2px;
  margin-right: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
