
body {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
}

#content {
  padding-bottom: 85px;
}

#footer {
  height: 85px;
  width: 100%;
  color: #aebdc1;
  background-color: #fafafa;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  line-height: 1.8;
}

#footer a {
  color: #aebdc1;
}

#footer a:hover {
  color: #EB6E6E;
}

.index-title-background {
  background-color: #1DB0BC;
  background-image: url("/static/website/noobhub_pattern.png");
  background-repeat: repeat-x|repeat-y;
  background-size: contain;
  background-position: center center;
  height: 600px;
}

.index-title-background h1 { font-weight: 800; }

.index-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}

.index-info-1{
  background-color: #ffffff;
  height: 300px;
  width: 100%
}

@media (max-width: 767px) {
    .index-info-1 {
      height: 400px;
      padding-top: 55px;
    }
}

.index-info1-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}

@media (max-width: 767px) {
    .index-info1-content {
      height: 175px;
    }
}

.center img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.index-info-2{
  background-color: #ff8b94;
  height: 300px;
  width: 100%
}

@media (max-width: 767px) {
    .index-info-2 {
      padding-top: 55px;
      height: 400px;
    }
}

.index-info-3{
  background-color: #31698a;
  height: 300px;
  width: 100%
}

@media (max-width: 767px) {
    .index-info-3 {
      padding-top: 55px;
      height: 400px;
    }
}

.title-background {
  background-color: #1DB0BC;
  background-image: url("/static/website/noobhub_pattern.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center center;
  height: 250px;
  margin-bottom:20px;
}

.title-text {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.title-background h1 { font-weight: 800; }

.top-buffer { margin-top:20px; }

.card-top-buffer { margin-top:15px; }

.top-padding { padding-top: 45px; }

.bottom-padding { padding-bottom: 45px; }

.profile-tabs-margin { margin-top:-55px; }

.title_top-padding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 225px;
  overflow-wrap: break-word;
}

.badge-bottom-padding { padding-bottom: 10px; }

.projectcoverimage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

img.category-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rec-shadow {
  -webkit-box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
  -moz-box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
  box-shadow: 0px 7px 22px -2px  rgba(194,194,194,1);
}

.category-text {
  color: #161515;
}

/* button zoom on hover over */
.grow { transition: all .2s ease-in-out; }
.grow:hover {
  transform: scale(1.03);
  color: #EB6E6E;
}

a, a:link, a:hover {
  text-decoration: none;
 }

.card-footer {
  padding: 0rem 1.25rem;
  background-color: #fff;
  border-top: 0px solid #37abf2;
}

.card {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
  margin-top:20px;
  border: 0px;
}

.card-block-bottom-padding {
  margin-bottom: -10px;
}

i:hover {
 cursor:pointer;
}

.clicked-button {
  color: #FFA7D0;
}

.comment-textbox {
  width: 100%;
  margin: auto;
  margin-top:10px;
}

/* remove arrow to drop downs */
.dropdown-toggle::after {
    display:none
}

.login-width {
  max-width: 500px;
}

.button-bottom-margin {
  margin-bottom: -15px;
}

.nav-custom{
  z-index: 2;
  margin-top: -55px;
}

.nav-tabs {
  border-bottom: 0px solid #ddd;
}


.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  background-color: #fafafa;
}

.nav-tabs > li > a {
  color: white;
}

.card-title {
  font-weight: 900;
}

.book-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid #31c1fa;
}

.video-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid #f45494;
}

.website-footer-top-boarder {
  padding: .45rem;
  border-top: 1px solid #F7B141;
}

.category-card-top-buffer { margin-top:15px; }

.category-card {
  max-width: 350px;
  height: auto;
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  margin: auto;
  padding-top: 10px;
}

.category-card h3 { font-weight: 400; }

.category-card h2 { font-weight: 400; }

@media (min-width: 768px) {
    .category-card {
      justify-content: center; /* align horizontal */
    }
}

.index-category-button {
  border: 0;
  border-radius: 10px;
  max-width: 400px;
  height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin: auto;
  margin-top: 15px;
  background-color: white;
}

/* style for form errors */
.errorlist {
  list-style-type: none;
  padding: 0;
  color: red;
}

/* customise select list for date filter */
.custom-select {
  -webkit-appearance: none;
  background: #fff url("../website/arrow.png") no-repeat right 0.5rem center;
  background-size: 10%;
}

/* loading sign container for endless scroll pagination */
.endless_container{
  text-align: center;
  margin-top:20px;
}

.website_img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  max-height: 200px;
}

/* sm */
@media (min-width: 768px) {
    .website_img {
        max-height: 300px;
    }
}
/* md */
@media (min-width: 992px) {
    .website_img {
        max-height: 250px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .website_img {
        max-height: 250px;
    }
}

.youtube_image_div {
  overflow: hidden;
}

@media (max-width: 767px) {
    .video_info_padding {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .video_info_top_margin {
        margin-top: 10px;
    }
}

.youtube_image {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  margin: -10% 0;
}

/* remove standard border from bootstrap mobile nav */
.navbar-toggler {
  border: none;
}

.arrow_down {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 2px;
  margin-right: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
