
body {
  font-family: 'Open Sans', sans-serif;
}

.test-this {background-color: #00d1b2; }

.top-buffer { margin-top:20px; }

.card-top-buffer { margin-top:15px; }

.top-padding { padding-top: 45px; }

.bottom-padding { padding-bottom: 45px; }

.projectcoverimage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

img.category-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rec-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.11);
}

/* button zoom on hover over */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

a, a:link, a:hover {
  text-decoration: none;
 }

.card-footer {
  padding: .45rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.card {
  max-width: 700px;
  margin: auto;
  margin-top:10px;
  border: 0px;

}

i:hover {
 cursor:pointer;
}

.clicked-button {
  color: #FFA7D0;
}

.comment-textbox {
  width: 100%;
  margin: auto;
  margin-top:10px;
}

/* remove arrow to drop downs */
.dropdown-toggle::after {
    display:none
}

.login-width {
  max-width: 500px;
}
