
.test-this {background-color: #ff574a; }

.top-buffer { margin-top:20px; }

.top-padding { padding-top: 45px; }

.bottom-padding { padding-bottom: 45px; }

.projectcoverimage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
